.container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.container img {
    width: 100%;
    height: auto;
}

/* wrapper div styles */
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#wrapper h1 {
    font-weight: bold;
    font-size: 2rem;
}

#wrapper p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

}

p b {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding-right: 70px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: black;
}

#timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    float: right;
    padding-right: 70px;
}

/* Button Style */
#start-button, #Submit {
    box-shadow: 2px 3px 0px 0px #1564ad;
    background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(#378de5 5%, #378de5 100%);
    border-radius: 1px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 22px;
    text-decoration: none;
    margin: 16px;
}

/* Button Style when Hovered*/
#start-button:hover {
    opacity: 0.7;
}

li {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#378de5 5%, #378de5 100%);
    display: inline-block;
    cursor: pointer;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: regular;
    padding: 12px 22px;
    text-decoration: none;
    margin: 16px;
}

li:hover {

    opacity: 0.7;
}

#questions-div {
    padding-top: 100px;
    font-size: 1.5rem;
    text-align: center;
}

button {
    margin-left: 70px;
    margin-top: 20px;
}

input {
    background-color: antiquewhite;
    font-size: x-large;
}

footer {
    float: right;
}

/* Leaderboard button Styles */

#home {
    background-color: #005521;
    border-radius: 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: regular;
    padding: 12px 44px;
    text-decoration: none;
    margin: 10px;
}

#home:hover {
    opacity: 0.7;
    cursor: pointer;
}

#clear {
    background-color: #b10808;
    border-radius: 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: regular;
    padding: 12px 44px;
    text-decoration: none;
    margin: 10px;
}

#scores-button {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 1rem;
    padding: 70px;
}

#scores-button:hover {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 1rem;
    padding: 70px;
    cursor: "initial";
}

.dark-mode #scores-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 1rem;
    padding: 70px;
}

.dark-mode #scores-button:hover {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 1rem;
    padding: 70px;
}

body {
    padding: 25px;
    background-color: lightgray;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: lightgray;
}

.dark-mode #timer {
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 70px;
}

.dark-mode a:link a:visited a:hover a:active p {

    color: lightgray;

}

.dark-mode nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: lightgray;
}

.dark-mode a {
    text-decoration: none;
    color: lightgray;
}